<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/main.css">


  </head>
  <body>

    <div class="section-title my-4">

        <div class="container">
            <h1 class="text-center">About Us</h1>
            <hr>
        </div>
    </div>


    <div class="section-main my-4">
        <div class="container">
                <h3 class="text-center">Find everything you're looking for and
                more from the comfort of your own home.</h3>
                <br>
            <p class="text-justify">
                    <strong>DENNY DOTS</strong> is more than just an online furniture store. We hand pick and curate the best in quality and style for you and your home. Where is the expression of a vision to realize the power of story through custom furniture design and complete home furnishing solution. Our legacy quality furniture company is built upon the forgotten manufacturing roots.
                    <br>
                    <br>
                    We launched dennydots.com with the goal of making modern design more accessible. We have online destination boasting the most comprehensive online collection of covetable design.
                    Our catalog brings together products from all price points to fit your budget and your personal style. Proud to serve customization, so you can create a look you'll love. User-friendly site helps you find the look you want in the time you have. And we strive to give everyone the opportunity to share the styles that you adore.
                    Here’s dennydots.com at your finger, so why spend days driving from store to store trying to find that perfect look or unique piece. Plus we're proudly a Indian company! We assure you to see surprise GIFT along with your order.
                    <br>
                    <br>
                    Thanks for letting us be part of your journey!
                    <br>
            </p>

            <h3 class="text-center">Board with us.</h3>
            <br>
                <p class="text-justify">
                        Unity is strength ….when there is teamwork and collaboration wonderful things can be achieved. So to board with us and join our tour of bringing smiles on face of satisfied customers.
Reach to us at <a href="mailto:info@dennydots.com"> info@dennydots.com</a>
                </p>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>