<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
        <div class="section-title my-4">

                <div class="container">
                    <h1 class="text-center">Contact Us</h1> 
                    <hr>
                </div>
            </div>


        <div class="section-main my-4">
            <div class="container">
                <div class="customer-support">
                    <h5 class="text-left">Customer Support</h5>
                    <p class="text-justify">
                       <strong>+91-7685912894</strong> <br>
                        ( 24 X 7)
                        
                    </p>
                </div>
                <br>
                <br>

                <div class="email-support">
                        <h5 class="text-left">Email Support</h5>
                        <p class="text-justify">
                                For product, order related queries and pretty much anything else, write to <a href="mailto:info@dennydots.com">info@dennydots.com</a>
                        </p>
                    </div>

                    <br>
                    <br>

                    <div class="social-support">
                            <h5 class="text-left">On Social Media</h5>
                            <strong><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></strong>
                            <strong><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></strong>
                            <strong><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></strong>
                        </div>
            </div>

           
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>