<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/assets/main.css">

  </head>
  <body>

        <div class="section-title my-4">

                <div class="container">
                    <h1 class="text-center">Delivery and Setup</h1>
                    <hr>
                </div>
        </div>

        <div class="section-main my-4">
            <div class="container">
                <p class="text-center">
                        At <strong>DENNY DOTS</strong>, We strive to provide the best home delivery 
                        service by partnering with reliable, professional delivery teams in
                        your area. We’ll carefully select the best delivery options 
                        for your order to make sure everything arrives safe and sound. 
                        <br>
                        <br>
                    
                </p>
                <h3 class="text-center">Furniture & Mattresses</h3>
                <hr>
                <p class="tex-center">
                    <br>
                        The delivery team will uncrate or unpack your new furniture/mattress,
                         set it in place in the room of choice and remove all packaging/debris 
                         (with the exception of items marked "Customer Assembly Required"). 
                         Delivery teams are not able to remove or disassemble any existing 
                         furniture. If you need assistance building Assembly required items, 
                         please contact our Customer Care 
                        team who can help provide assembly services at competitive rates in 
                        many regions across India.
                </p>
                <h3 class="text-center">Scheduling Your Delivery</h3>
                <hr>
                <p class="tex-center">
                    <br>
                    During the checkout process, you can select a delivery date that works for you for most 
                    large item deliveries. 
                    This date is based on product and delivery date availability in your area.
                    <br>
                    <br>
                    When you complete your order, you will receive an email order confirmation, 
                    which will specify your preferred delivery date. We'll contact you if this date 
                    changes for any reason. We'll also send you an email within
                     7 days of your delivery to confirm the date and the name of the delivery provider.
                     <br>
                     <br>
                     Please contact our Customer Care team at least 48 hours before your selected
                      delivery date if you would like to make any changes. 
                      <br>
                      <br>
                </p>
                <h3 class="text-center">Preparing  for your Delivery</h3>
                <hr>
                <p class="tex-center">
                    <br>
                    The name on the order must match the government-issued photo ID of the person 
                    receiving the delivery. If you're having your product delivered somewhere else, 
                    or you'd like to have someone else receive it 
                    for you, we'll need to confirm those details with you prior to delivery. 
                    <br>
                    <br>
                    The delivery warehouse will contact you the day before or morning of delivery. To the volume of deliveries that must 
                    be routed each day, it is impossible to give exact times.
                    <br>
                    <br>
                    Please ensure your driveway and walkways are cleared to accept the delivery. As well please clear the path inside your 
                    home to the area where your purchase is to be placed.
                    <br>
                    <br>Prior to ordering and delivery, pre-measure your doorways, entrances, hallways and 
                    staircases to ensure your new product will fit. A restocking fee will apply if unwrapped
                     furniture, mattresses, appliances or electronics do not fit through the doorway or in the
                      space intended. Pin hinged doors can be removed to complete delivery. However, carpentry
                       work such as removing doorway moldings, banisters, and so on cannot be done. 
                    All pictures in narrow hallways or stairs should be removed by you. 
                    <br>
                    <br>

                </p>
                <h3 class="text-center">During your Delivery</h3>
                <hr>
                <p class="tex-center">
                    <br>
                    To help protect you from theft and fraud, we require the person listed on the order
                     be on hand, show valid government-issued photo ID and provide their matching signature
                     at the time of delivery. We request our customers to please inspect their order upon 
                     receipt for any visible signs of packaging damage, product damage, incorrect product 
                     or missing parts before signing the proof of delivery document and before assembling 
                     the product. 
                    <br>
                    <br>
                     If any damage is found, please specify these issues on the proof of delivery
                      before signing for the order. Any damages or missing pieces on Assembly Required items must
                       be 
                    reported within 48 hours of delivery by contacting our customer care team.
                    <br> 
                </p>
            </div>
        </div>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>