<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/assets/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
        <div class="section-title my-4">

                <div class="container">
                    <h1 class="text-center">COMPANY INFORMATION</h1>
                    <hr>
                </div>
            </div>


        <div class="section-main my-4">
            <div class="container">
                
                    <div id="accordion">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <strong>What is DENNY DOTS?</strong>
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                       <strong>Dennydots.com</strong> is an Indian online retailer dedicated to making the process of 
                                        shopping for your home fun and easy. We’re more than just 
                                        an online furniture store: We hand pick and curate the best in quality, style for 
                                        you and your home.
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                  <button class=" collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>Is it safe to order online from dennydots.com?</strong>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                  <p>
                                        We know that the safety of your personal information is extremely important, and use
                                         state-of-the-art fraud detection software to protect all of your personal data and 
                                         credit card information. We even go one step further and manually verify the legitimacy 
                                         of all orders placed with us. For more information
                                         about how we keep your info safe, check out our <a href="/welcome/privacy">Privacy Policy.</a>
                                  </p>
                                </div>
                              </div>
                            </div>


                <br>
                <br>

                <h3 class="text-center">ORDERING</h3>
                <hr>
                        <br>
                        <br>

                        <div class="card">
                                <div class="card-header" id="headingThree">
                                  <h5 class="mb-0">
                                    <button class=" collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <strong>What do you do with my information?</strong>
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>
                                            We use your info to fulfill your order accurately and quickly, and to improve your shopping experience. We respect your privacy and never share this information with anyone, except in connection with your order. If you want to know more, take a look at our Privacy Policy. (Link privacy policy)
                                    </p>
                                  </div>
                                </div>
                              </div>


                              <div class="card">
                                    <div class="card-header" id="headingFour">
                                      <h5 class="mb-0">
                                        <button class=" collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <strong>How do I track my order?</strong>
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                      <div class="card-body">
                                        <p>
                                                To view the status of your order, simply log in to your dennydots.com account and click “Online Order.” each item will have its own unique delivery document and respective delivery date.

                                        </p>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="card">
                                        <div class="card-header" id="headingFive">
                                          <h5 class="mb-0">
                                            <button class=" collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                              <strong>
                                                    Can I edit my order once it has been placed?
                                              </strong>
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                          <div class="card-body">
                                            <p>
                                                    Sure thing! Just get in touch with our Customer Care team within 48 hours they’ll help you with any necessary changes.

                                            </p>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card">
                                            <div class="card-header" id="headingFive">
                                              <h5 class="mb-0">
                                                <button class=" collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                  <strong>
                                                        Can I cancel my order?
                                                  </strong>
                                                </button>
                                              </h5>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>
                                                        Orders can be cancelled as long as they haven’t already been reserved onto our manufacturing floor. To cancel, please get in touch with us on our customer care number or write to Us at info@dennydots.com from your registered email address within 48 hours.    
                                                </p>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="card">
                                                <div class="card-header" id="headingSeven">
                                                  <h5 class="mb-0">
                                                    <button class=" collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                      <strong>
                                                            Are the colours on the site accurate?
                                                      </strong>
                                                    </button>
                                                  </h5>
                                                </div>
                                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                                  <div class="card-body">
                                                    <p>
                                                            The photos on the site are as accurate as possible. However, the actual colour of your order may vary slightly due to different monitor settings. Please contact our Customer Care team with any questions.
                                                    </p>
                                                  </div>
                                                </div>
                                              </div>

                                              <br>
                <br>

                <h3 class="text-center">DELIVERY</h3>
                <hr>
                        <br>
                        <br>


                                              <div class="card">
                                                    <div class="card-header" id="headingEight">
                                                      <h5 class="mb-0">
                                                        <button class=" collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                          <strong>
                                                                Where do you deliver?
                                                          </strong>
                                                        </button>
                                                      </h5>
                                                    </div>
                                                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                                      <div class="card-body">
                                                        <p>
                                                                Simply enter your postal code on product page of each item. before placing an order to get to know of our delivery areas.
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>


                                                  <div class="card">
                                                        <div class="card-header" id="headingNine">
                                                          <h5 class="mb-0">
                                                            <button class=" collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                              <strong>
                                                                    I live outside your delivery area, Can I still order?
                                                              </strong>
                                                            </button>
                                                          </h5>
                                                        </div>
                                                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                                          <div class="card-body">
                                                            <p>
                                                                    We want to help you create the home of your dreams even if you don’t live in one of our delivery areas. Contact our Customer Care team.
                                                            </p>
                                                          </div>
                                                        </div>
                                                      </div>



                                                      <div class="card">
                                                            <div class="card-header" id="headingTen">
                                                              <h5 class="mb-0">
                                                                <button class=" collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                                  <strong>
                                                                        How much does delivery cost?
                                                                  </strong>
                                                                </button>
                                                              </h5>
                                                            </div>
                                                            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                                                              <div class="card-body">
                                                                <p>
                                                                        Delivery is FREE on most orders. 
                                                                        <br>
                                                                        <br>
                                                                        An estimated delivery cost will be shown in the shopping cart and the final cost of your delivery (if any) is displayed on Step 2 of the ordering process, after you enter your delivery address.
                                                                </p>
                                                              </div>
                                                            </div>
                                                          </div>



                                                          <div class="card">
                                                                <div class="card-header" id="headinEleven">
                                                                  <h5 class="mb-0">
                                                                    <button class=" collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                                      <strong>
                                                                            When will my order be delivered?
                                                                      </strong>
                                                                    </button>
                                                                  </h5>
                                                                </div>
                                                                <div id="collapseEleven" class="collapse" aria-labelledby="headinEleven" data-parent="#accordion">
                                                                  <div class="card-body">
                                                                    <p>
                                                                            During the checkout process, you can select a delivery date that works for you for most large item deliveries. This date is based on product and delivery date availability in your area.

                                                                            <br>
                                                                            <br>
                                                                            When you complete your order, you will receive an email order confirmation, which will specify your preferred delivery date. We'll contact you if this date changes for any reason. We'll also send you an email within 7 days of your delivery to confirm the date and the name of the delivery provider.
                                                                            <br><br>
                                                                            Please contact our Customer Care team at least 48 hours before your selected delivery date if you would like to make any changes. 
                                                                    </p>
                                                                  </div>
                                                                </div>
                                                              </div>

                                                              <div class="card">
                                                                    <div class="card-header" id="headingTwelve">
                                                                      <h5 class="mb-0">
                                                                        <button class=" collapsed" data-toggle="collapse" data-target="#collapseTweve" aria-expanded="false" aria-controls="collapseTweve">
                                                                          <strong>
                                                                                Can I change my delivery date?
                                                                          </strong>
                                                                        </button>
                                                                      </h5>
                                                                    </div>
                                                                    <div id="collapseTweve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                                                                      <div class="card-body">
                                                                        <p>
                                                                                Yes, the delivery date of your order can be changed up until three days before the scheduled date. To make this change, contact our Customer Care team.
                                                                        </p>
                                                                      </div>
                                                                    </div>
                                                                  </div>


                                                                  <div class="card">
                                                                        <div class="card-header" id="headingThirteen">
                                                                          <h5 class="mb-0">
                                                                            <button class=" collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                                                              <strong>
                                                                                    Will my furniture be assembled for me?
                                                                              </strong>
                                                                            </button>
                                                                          </h5>
                                                                        </div>
                                                                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                                                                          <div class="card-body">
                                                                            <p>
                                                                                    You’re responsible for assembly on any products that have been specified as “Customer assembly required” or “ready to assemble” but we’ll handle the rest! 
                                                                            </p>
                                                                          </div>
                                                                        </div>
                                                                      </div>



                                                                      <br>
                                                                      <br>
                                                      
                                                                      <h3 class="text-center">WARRANTY & RETURNS</h3>
                                                                      <hr>
                                                                              <br>
                                                                              <br>

                                                                              <div class="card">
                                                                                    <div class="card-header" id="headingFourteen">
                                                                                      <h5 class="mb-0">
                                                                                        <button class=" collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                                                                          <strong>
                                                                                                What if my merchandise arrives damaged?
                                                                                          </strong>
                                                                                        </button>
                                                                                      </h5>
                                                                                    </div>
                                                                                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                                                                                      <div class="card-body">
                                                                                        <p>
                                                                                                Our delivery teams treat your order with care so it can arrive in the best condition possible, but if there is any visible damage on the merchandise or to your home during the delivery process, please notify our delivery team and make sure it is recorded in the delivery paperwork. Then, contact our Customer Care team within 72 hours of the delivery so we can try to repair or replace the damaged item as soon as possible. Since our Product is made only against orders placed, we are unable to extend any kind of returns. If you choose to cancel your order, please know that you forfeit the advance paid.
                                                                                        </p>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>


                                                                                  <div class="card">
                                                                                        <div class="card-header" id="headingFifteen">
                                                                                          <h5 class="mb-0">
                                                                                            <button class=" collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                                                                              <strong>
                                                                                                    Does dennydots.com offer a warranty?
                                                                                              </strong>
                                                                                            </button>
                                                                                          </h5>
                                                                                        </div>
                                                                                        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                                                                                          <div class="card-body">
                                                                                            <p>
                                                                                                    Many of our products come with a warranty to be free of manufacturing defects in materials and workmanship. Specific details can be found on the product page of each item.
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    The basic warranty is void if the merchandise suffers damage caused by abuse, negligence or accident, has been relocated, repaired or tampered with, was sold "as is", or is used for commercial purposes. We do not guarantee fabrics against wear, fading, color fastness or any damage caused by cleaning processes.
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    Please note that many manufacturers offer separate warranties on their products. For more information, please refer to any warranty tags that come with the product.
                                                                                            </p>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>


                                                                                      <br>
                                                                      <br>
                                                      
                                                                      <h3 class="text-center">PAYMENT & PRICING</h3>
                                                                      <hr>
                                                                              <br>
                                                                              <br>



                                                                              <div class="card">
                                                                                    <div class="card-header" id="headingSixteen">
                                                                                      <h5 class="mb-0">
                                                                                        <button class=" collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                                                                          <strong>
                                                                                                What kinds of payment do you accept?
                                                                                          </strong>
                                                                                        </button>
                                                                                      </h5>
                                                                                    </div>
                                                                                    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                                                                                      <div class="card-body">
                                                                                        <p>
                                                                                                We gladly accept all sort of cards (Visa/Master/Maestro/Amex) and 50+ Net banking., we cannot accept COD orders and all orders must be paid in full once submitted online.
                                                                                        </p>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>

                                                                                  <div class="card">
                                                                                        <div class="card-header" id="headingSeventeen">
                                                                                          <h5 class="mb-0">
                                                                                            <button class=" collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                                                                              <strong>
                                                                                                    What happens if there is a pricing error?
                                                                                              </strong>
                                                                                            </button>
                                                                                          </h5>
                                                                                        </div>
                                                                                        <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
                                                                                          <div class="card-body">
                                                                                            <p>
                                                                                                    We do our best to provide accuracy in the pricing and other product information displayed on our website, but mistakes sometimes happen. In such cases, dennydots.com expressly reserves the right not to honor pricing errors found on this website when accepting an online order. If an error occurs, we’ll let you know and cancel the order. Any authorized payments for that order will be immediately refunded. If you find an error once your order is delivered, please contact our Customer Care team or refer to our return policy.
                                                                                            </p>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>

                                                                                      <br>
                                                                      <br>
                                                      
                                                                      <h3 class="text-center">SPECIAL ORDERS</h3>
                                                                      <hr>
                                                                              <br>
                                                                              <br>

                                                                              <div class="card">
                                                                                    <div class="card-header" id="headingEighteen">
                                                                                      <h5 class="mb-0">
                                                                                        <button class=" collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                                                                          <strong>
                                                                                                Do you work with design professionals?
                                                                                          </strong>
                                                                                        </button>
                                                                                      </h5>
                                                                                    </div>
                                                                                    <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion">
                                                                                      <div class="card-body">
                                                                                        <p>
                                                                                                We love working with designers and will go the extra mile to help professionals who are looking for furniture for their clients. For more details, please contact our Customer Care team.
                                                                                        </p>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>

                                                                                  <div class="card">
                                                                                        <div class="card-header" id="headingNinteen">
                                                                                          <h5 class="mb-0">
                                                                                            <button class=" collapsed" data-toggle="collapse" data-target="#collapseNinteen" aria-expanded="false" aria-controls="collapseNinteen">
                                                                                              <strong>
                                                                                                    Do you offer discounts on bulk orders?
                                                                                              </strong>
                                                                                            </button>
                                                                                          </h5>
                                                                                        </div>
                                                                                        <div id="collapseNinteen" class="collapse" aria-labelledby="headingNinteen" data-parent="#accordion">
                                                                                          <div class="card-body">
                                                                                            <p>
                                                                                                    Hotels, realtors and other professionals who need a lot of furniture, fast, rely on us to help make their spaces look fabulous. For these special bulk orders, we may even be able to provide special pricing! For more details, please contact our Customer Care team.
                                                                                            </p>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>

                                                                                      <br>
                                                                      <br>
                                                      
                                                                      <h3 class="text-center">ACCOUNT INFORMATION</h3>
                                                                      <hr>
                                                                              <br>
                                                                              <br>

                                                                              <div class="card">
                                                                                    <div class="card-header" id="headingTwenty">
                                                                                      <h5 class="mb-0">
                                                                                        <button class=" collapsed" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                                                                          <strong>
                                                                                                How do I change my account information?
                                                                                          </strong>
                                                                                        </button>
                                                                                      </h5>
                                                                                    </div>
                                                                                    <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordion">
                                                                                      <div class="card-body">
                                                                                        <p>
                                                                                                To change your account information, log on to your dennydots.com account and make any necessary changes to your address, e-mail, phone number, password or payment options. Please note that these changes will not apply to any orders that have already been placed. To change that information for an existing order, please contact our Customer Care team.
                                                                                        </p>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>


                                                                                  <div class="card">
                                                                                        <div class="card-header" id="headingTwentyOne">
                                                                                          <h5 class="mb-0">
                                                                                            <button class=" collapsed" data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                                                                                              <strong>
                                                                                                    What do I do if I forget my password?
                                                                                              </strong>
                                                                                            </button>
                                                                                          </h5>
                                                                                        </div>
                                                                                        <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#accordion">
                                                                                          <div class="card-body">
                                                                                            <p>
                                                                                                    Go to the log-in area of dennydots.com and select “forgot Password?” Enter your e-mail address and we’ll send you your account password.
                                                                                            </p>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>


                                                                                      <div class="card">
                                                                                            <div class="card-header" id="headingTwentyTwo">
                                                                                              <h5 class="mb-0">
                                                                                                <button class=" collapsed" data-toggle="collapse" data-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                                                                                                  <strong>
                                                                                                        Why do you ask for my postal code before shopping?
                                                                                                  </strong>
                                                                                                </button>
                                                                                              </h5>
                                                                                            </div>
                                                                                            <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#accordion">
                                                                                              <div class="card-body">
                                                                                                <p>
                                                                                                        Knowing your postal code allows us to tailor the shopping experience to you specifically. If we know where you are, we can provide you the service available in your area and customize the catalog to only show merchandise that can be delivered to you. Bonus: we can also show you an estimated delivery date before going through the whole checkout process.
                                                                                                </p>
                                                                                              </div>
                                                                                            </div>
                                                                                          </div>


                </div>

                
                <br>

                


            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 
  </body>
</html>