<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/set1.css">
  <link rel="stylesheet" href="/assets/style.scss">

</head>

<body>

  <!-- Header -->


<!--Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="/assets/bg-2.jpeg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>The biggest collection of sofas that’s the perfect time for fresh look <span class="text-style">Sale</span> </h5>
    <p class="text-style">New Arrivial Sale</p>
    <a href="/wardrobes">
    <button type="button" class="btn " name="button">Shop Now</button></a>
  </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="/assets/bg-2.jpeg" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>Sofa that’s your style event <span class="text-style">Sale</span> </h5>
    <p class="text-style">New Arrivial Sale</p>
    <a href="/sofas">
    <button type="button" class="btn " name="button" >Shop Now</button></a>
  </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="/assets/bg-2.jpeg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>Bed collections for you to Wake you up refreshed <span class="text-style">Sale</span> </h5>
    <p class="text-style">New Arrivial Sale</p>
    <a href="/chairs">
    <button type="button" class="btn " name="button">Shop Now</button></a>
  </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="/assets/bg-2.jpeg" alt="Fourth slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>Sweet dreams in every size <span class="text-style">Sale</span> </h5>
    <p class="text-style">New Arrivial Sale</p>
    <a href="/chairs">
    <button type="button" class="btn " name="button">Shop Now</button></a>
  </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


<!------- Carousel /// Ends --->
</header>
<!-- Display -->


<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">You’re <span>Leisure</span></h3>
        <hr>
      </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/product-2.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">C</span>omfort <span>Sofas</span></h2>
            <p>Classic Style with a casual touch</p>
            <a href="/sofas/1">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/product-3.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">C</span>orner <span>Sofas</span></h2>
            <p>Perfect for a corner spot and to you comfort</p>
            <a href="/sofas/2">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<!-- Trending -->

<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">What's <span>Trending</span></h3>
        <hr>
      </div>
</div>

<div class="container my-4">
  <div class="row">
  <div class="col col-md-6">
    <div class="grid">
      <figure class="effect-roxy">
        <img src="/assets/product-45.jpg" alt="img15">
        <figcaption>
          <h2><span class="text-color-effect">T</span>hree Seater <span>Sofa</span></h2>
          <p>Higher form of style and comfort with the alluring sofas</p>
          <a href="/chairs/1">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="col col-md-6">
    <div class="container mt-4">
      <h3 class="text-center" style="font-style: italic;">Collection</h3>
      <p class="my-4 text-center">That’s the beauty of the Denny Dots sea blue sofa —with subtle button-tufted detailing sophisticated tones make you  feels fresh .
Rhombus style look and high-track arms for extraordinary comfort and support. Richly textured is the essence of a simpler time and place.</p>
    </div>
  </div>
</div>
</div>

<div class="container my-4">
  <div class="row">
  <div class="col col-md-6">
    <div class="container mt-4">
      <h3 class="text-center" style="font-style: italic;">Collection</h3>
      <p class="my-4 text-center">Ride the wave with the Denny Dots chair simply steals the show where you thinking about adding a touch to your favorite style.</p>
    </div>
  </div>
  <div class="col col-md-6">
    <div class="grid">
      <figure class="effect-roxy">
        <img src="/assets/product-46.jpg" alt="img15">
        <figcaption>
          <h2><span class="text-color-effect">D</span>esigner <span>Chair</span></h2>
          <p>The Many looks of seating and comfort</p>
          <a href="/chairs/2">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
</div>


</div>


<!-- Product Carousel -->


<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">New <span>Arrivials</span></h3>
        <hr>
      </div>
</div>

<div class="container-fluid product-carousel my-2">
<div class="container my-2 px-2">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">

        <!--- COl 1 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 2 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 3 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">

        <!--- COl 1 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 2 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 3 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">

        <!--- COl 1 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 2 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 3 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

<!-- Hot Deals -->


<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">Hot <span>Deals</span></h3>
        <hr>
      </div>
</div>

<div class="container hot-deals my-2">
  <div class="container my-5">
    <div class="row">
      <div class="col col-md-6 d-flex justify-content-center ">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="/assets/product-48.jpg" style="height: 300px;" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">D</span>esigner <span>Sofas</span></h2>
              <p>Made to suit your appreciation hold your style and make your day complete</p>
              <a href="/wardrobes/1">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col col-md-6 d-flex justify-content-center">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="/assets/product-49.jpg" style="height: 300px;" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">D</span>ressing <span>Tables</span></h2>
              <p>Dresser that spring into a new bedroom</p>
              <a href="/wardrobes/2">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div><div class="container my-5">
    <div class="row">
      <div class="col col-md-6 d-flex justify-content-center">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="/assets/product-50.jpg" style="height: 300px;" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">S</span>torage <span>Beds</span></h2>
              <p>This bed has it all! Storage and style for a superb value!</p>
              <a href="/doublebs/1">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col col-md-6 d-flex justify-content-center">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="/assets/product-51.jpg" style="height: 300px;" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">R</span>oyal <span>Beds</span></h2>
              <p>Royal bed work of art for you to style to your heart’s content</p>
              <a href="/doublebs/2">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Discount-offers Banner -->
<div class="discount-banner">
  <div class="container">
    <p class="text-center"><span class="discount-text">
      We Offer Flat <span class="discount">40%</span> Discount.
    </span></p>
  </div>
</div>


<!-- Above Footer -->

<div class="container-fluid above-footer py-3">
  <div class="container">
  <div class="row">
  <div class="col col-md-4 col-sm-4">
    <div class="payment-secure">
      <div class="row">
        <div class="col col-md-4">
          <i class="fa fa-shield" aria-hidden="true"></i>
        </div>
        <div class="col col-md-8 mt-3">
          <p class="text-center d-inline">100% Secure Shopping. <br>
            <span class="text-center">Payments are safe and secure</span></p>
        </div>
      </div>
  </div>
  </div>
  <div class="col col-md-4 col-sm-4">
    <div class="payment-secure">
      <div class="row">
        <div class="col col-md-4">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="col col-md-8 mt-3">
          <p class="text-center d-inline">24x7 Support <br>
            <span class="text-center">Hassele free support system</span></p>
        </div>
      </div>
  </div>
  </div>
  <div class="col col-md-4 col-sm-4">
    <div class="payment-secure">
      <div class="row">
        <div class="col col-md-3">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <div class="col col-md-9 mt-3">
          <p class="text-center d-inline">Quality Guaranteed <br>
            <span class="text-center">Ensuring 100% quality standard</span></p>
        </div>
      </div>
  </div>
  </div>
  </div>
</div>
</div>

</body>

