<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/set1.css">
  <link rel="stylesheet" href="/assets/style.scss">

</head>

<body>

  <!-- Header -->

  <header>

    <div class="container-fluid">

      <div class="row">
      <div class="col col-md-4 d-sm-none d-md-block my-2">
        <div class="header-nav">
        <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
  </div>
      </div>
      <div class="col col-md-3 col-sm-6">
          <div class="container">
          <img src="/assets/logo.png" alt="logo" class="img-fluid logo">
          </div>
      </div>
      <div class="col col-md-5 col-sm-6">
        <div class="contact">
        <div class="login d-inline">
          <a href="#">SignIn / SignUp </a>
        </div>
        <form class="form-inline d-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      <div class="dropdown d-inline">
  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Contact
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <i class="fa fa-whatsapp d-inline" aria-hidden="true"></i>
    <span class="d-inline">9747 444 800 | <a href="#">info@dennyDots.com</a></span>
  </div>
      </div>
      </div>
    </div>
  </div>
</div>
    <!-- Container For Navbar -->
<div class="container-fluid bg-dark">

  <div class="container">
    <!--Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--Nav Link 1 -->

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="link-custom">LIVING</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="container large-box  text-uppercase">
          <div class="row">
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center">All About Living</h3>
              <div class="row">
                <div class="col-md-4">
                  <h4>Seating<img class="img-icons"src="https://png.icons8.com/ios/50/000000/living-room.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/welcome/sofas" class="nav-link">Sofas</a></li>
                    <li class="nav-item"><a href="/chairs" class="nav-link">Chairs</a></li>
                    <li class="nav-item"><a href="/benches" class="nav-link">Benches</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Storage<img class="img-icons" src="https://png.icons8.com/ios/50/000000/book-shelf.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/tvcabinets" class="nav-link">Tv Cabinats</a></li>
                    <li class="nav-item"><a href="/bookcabinets" class="nav-link">Book Cabinats</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Tables<img class="img-icons" src="https://png.icons8.com/ios/50/000000/table.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/centerts" class="nav-link">Center Tables</a></li>
                    <li class="nav-item"><a href="/sidets" class="nav-link">side tables</a></li>
                    <li class="nav-item"><a href="/spotts" class="nav-link">spot tables</a></li>
                    <li class="nav-item"><a href="writingts" class="nav-link">writing tables</a></li>
                  </ul>
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="container">
              <div class="row bg-dark justify-content-center">
                <a href="#">Custom</a>
              </div>
              </div>
            </div>
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center img-box">All about Living</h3>
              <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        </div>
  </li>


  <!--Nav Link 2 -->

  <li class="nav-item">

    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="link-custom">SOFAS</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="container large-box  text-uppercase">
          <div class="row">
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center">All About sofas</h3>
              <div class="row">
                <div class="col-md-6">
                  <h4>fabricated sofa sets<img class="img-icons" src="https://png.icons8.com/color/50/000000/sofa.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/oneseatersofas" class="nav-link">1 seater sofa</a></li>
                    <li class="nav-item"><a href="/twoseatersofas" class="nav-link">2 seater sofa</a></li>
                    <li class="nav-item"><a href="/threeseatersofas" class="nav-link">3 seater sofa</a></li>
                    <li class="nav-item"><a href="/lshapedcornersofas" class="nav-link">l shaped corner sofa</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4>wodden sofa sets<img class="img-icons"src="https://png.icons8.com/color/50/000000/city-bench.png"></h4>
                </div>

              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="container">
              <div class="row bg-dark justify-content-center">
                <a href="#">Custom</a>
              </div>
              </div>
            </div>
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center img-box">All About sofas</h3>
              <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        </div>
  </li>


        <!--Nav Link 3 -->

        <li class="nav-item">

          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="link-custom">DINING</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="container large-box  text-uppercase">
                <div class="row">
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center">All about dining</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4>tables<img class="img-icons" src="https://png.icons8.com/ios/50/000000/table.png"></h4>
                          <ul class="nav flex-column navbar-nav">
                          <li class="nav-item"><a href="/diningts" class="nav-link">dining tables <tables></tables></a></li>

                        </ul>
                      </div>
                      <div class="col-md-4">
                        <h4>seating<img class="img-icons"src="https://png.icons8.com/ios/50/000000/living-room.png"></h4>
                          <ul class="nav flex-column navbar-nav">
                          <li class="nav-item"><a href="/diningchairs" class="nav-link">chairs</a></li>
                          <li class="nav-item"><a href="/diningbenches" class="nav-link">Benches</a></li>

                        </ul>
                      </div>
                      <div class="col-md-4">
                        <h4>Storage and display<img class="img-icons" src="https://png.icons8.com/ios/50/000000/book-shelf.png"></h4>
                          <ul class="nav flex-column navbar-nav">
                          <li class="nav-item"><a href="/kitchencabinets" class="nav-link">Cabinats</a></li>

                        </ul>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="container">
                    <div class="row bg-dark justify-content-center">
                      <a href="#">Custom</a>
                    </div>
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center img-box">All about dining</h3>
                    <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              </div>
        </li>


      <!--Nav Link 4 -->

      <li class="nav-item">

        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="link-custom">BEDROOM</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="container large-box  text-uppercase">
              <div class="row">
                <div class="col col-md-6">
                  <h3 class="d-flex justify-content-center">All about bedroom</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <h4>beds<img class="img-icons" src="https://png.icons8.com/ios/50/000000/bed.png"></h4>
                        <ul class="nav flex-column navbar-nav">
                        <li class="nav-item"><a href="/queensizebs" class="nav-link">Queen size beds</a></li>
                        <li class="nav-item"><a href="/kingsizebs" class="nav-link">king size beds</a></li>
                        <li class="nav-item"><a href="/singlebs" class="nav-link">single beds</a></li>
                        <li class="nav-item"><a href="/hydraulicstoragebs" class="nav-link">hydrolic storage beds</a></li>
                        <li class="nav-item"><a href="/upholsteredbs" class="nav-link">upholstered beds</a></li>
                        <li class="nav-item"><a href="/sofacumbs" class="nav-link">sofa cum beds</a></li>
                        <li class="nav-item"><a href="/doublebs" class="nav-link">double beds</a></li>
                        <li class="nav-item"><a href="/divanbs" class="nav-link">divan bed</a></li>
                        <li class="nav-item"><a href="/kidsbs" class="nav-link">kids beds</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <h4>bedroom storage<img class="img-icons" src="https://png.icons8.com/ios/50/000000/closet.png"></h4>
                        <ul class="nav flex-column navbar-nav">
                        <li class="nav-item"><a href="/besidets" class="nav-link">beside table</a></li>
                        <li class="nav-item"><a href="/wardrobes" class="nav-link">wardrobes</a></li>
                        <li class="nav-item"><a href="/dressingts" class="nav-link">dressing table</a></li>
                        <li class="nav-item"><a href="/kidstudyts" class="nav-link">kids study table</a></li>
                        <li class="nav-item"><a href="/kidswardrobs" class="nav-link">kids wardrobes</a></li>
                      </ul>
                    </div>

                  </div>
                  <br>
                  <br>

                  <div class="container">
                  <div class="row bg-dark justify-content-center">
                    <a href="#">Custom</a>
                  </div>
                  </div>
                </div>
                <div class="col col-md-6">
                  <h3 class="d-flex justify-content-center img-box">All about bedroom</h3>
                  <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            </div>
      </li>


        <!--Nav Link 5 -->

        <li class="nav-item">

          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="link-custom">KIDS</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="container large-box  text-uppercase">
                <div class="row">
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center">All about kids</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4>kids bed<img class="img-icons"src="https://png.icons8.com/ios/50/000000/bed.png"></h4>
                      </div>
                      <div class="col-md-4">
                        <h4>kids study <br>table<img class="img-icons"src="https://png.icons8.com/ios/50/000000/table.png"></h4>
                      </div>
                      <div class="col-md-4">
                        <h4>kids <br>wardrobes<img class="img-icons"src="https://png.icons8.com/ios/50/000000/wardrobe.png"></h4>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="container">
                    <div class="row bg-dark justify-content-center">
                      <a href="#">Custom</a>
                    </div>
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center img-box">All Living</h3>
                    <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              </div>
        </li>
      </div>
      </nav>
  </div>
</div>

<!--Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="assets/bg-1.jpeg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>The Biggest collection <span class="text-style">Sale</span> </h5>
    <p class="text-style">New Arrivial Sale</p>
    <button type="button" class="btn btn-outline-warning" name="button" href="#">Shop Now</button>
  </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="assets/bg-2.jpeg" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>The Biggest collection <span class="text-style">Sale</span> </h5>
    <p class="text-style">New Arrivial Sale</p>
    <button type="button" class="btn btn-outline-warning" name="button" href="#">Shop Now</button>
  </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="assets/bg-3.jpeg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>The Biggest collection <span class="text-style">Sale</span> </h5>
    <p class="text-style">New Arrivial Sale</p>
    <button type="button" class="btn btn-outline-warning" name="button" href="#">Shop Now</button>
  </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


<!------- Carousel /// Ends --->
</header>
<!-- Display -->
<div class="container my-5">
  <div class="row">
    <div class="col col-md-6">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="assets/bg-6.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
            <p>New Arrivials</p>
            <a href="#">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="assets/bg-7.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
            <p>New Arrivials</p>
            <a href="#">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<!-- Trending -->

<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">What's <span>Trending</span></h3>
        <hr>
      </div>
</div>

<div class="container my-4">
  <div class="row">
  <div class="col col-md-6">
    <div class="grid">
      <figure class="effect-roxy">
        <img src="assets/bg-7.jpg" alt="img15">
        <figcaption>
          <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
          <p>New Arrivials</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="col col-md-6">
    <div class="container mt-4">
      <h3 class="text-center" style="font-style: italic;">Collection</h3>
      <p class="my-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptatibus cum, ab. Nisi sapiente consequuntur eveniet repellat distinctio consequatur sint veniam, a minima hic nesciunt soluta illo vero laborum molestias tempore incidunt, facilis porro. Fuga totam modi eaque dolorem neque optio commodi, architecto mollitia omnis! Tempora, doloremque quibusdam!</p>
    </div>
  </div>
</div>
</div>

<div class="container my-4">
  <div class="row">
  <div class="col col-md-6">
    <div class="container mt-4">
      <h3 class="text-center" style="font-style: italic;">Collection</h3>
      <p class="my-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptatibus cum, ab. Nisi sapiente consequuntur eveniet repellat distinctio consequatur sint veniam, a minima hic nesciunt soluta illo vero laborum molestias tempore incidunt, facilis porro. Fuga totam modi eaque dolorem neque optio commodi, architecto mollitia omnis! Tempora, doloremque quibusdam!</p>
    </div>
  </div>
  <div class="col col-md-6">
    <div class="grid">
      <figure class="effect-roxy">
        <img src="assets/bg-7.jpg" alt="img15">
        <figcaption>
          <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
          <p>New Arrivials</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
</div>


</div>


<!-- Product Carousel -->


<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">New <span>Arrivials</span></h3>
        <hr>
      </div>
</div>

<div class="container-fluid product-carousel my-2">
<div class="container my-2 px-2">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">

        <!--- COl 1 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 2 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 3 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">

        <!--- COl 1 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 2 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 3 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">

        <!--- COl 1 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 2 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

        <!--- COl 3 --->
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="#">
                  <img src="assets/bg-1.jpg" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Product Title</h4>
              <p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, explicabo..</small></p>
              <span class="product-price">
              <p class="text-center d-inline">Price: 24,500</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="#" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

<!-- Hot Deals -->

<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">Hot <span>Deals</span></h3>
        <hr>
      </div>
</div>

<div class="container hot-deals my-2">
  <div class="container my-5">
    <div class="row">
      <div class="col col-md-6">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="assets/bg-6.jpg" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
              <p>New Arrivials</p>
              <a href="#">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="assets/bg-7.jpg" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
              <p>New Arrivials</p>
              <a href="#">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div><div class="container my-5">
    <div class="row">
      <div class="col col-md-6">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="assets/bg-6.jpg" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
              <p>New Arrivials</p>
              <a href="#">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="grid">
          <figure class="effect-roxy">
            <img src="assets/bg-7.jpg" alt="img15">
            <figcaption>
              <h2><span class="text-color-effect">D</span>esing <span>Ahead</span></h2>
              <p>New Arrivials</p>
              <a href="#">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Discount-offers Banner -->
<div class="discount-banner">
  <div class="container">
    <p class="text-center"><span class="discount-text">
      We Offer Flat <span class="discount">40%</span> Discount.
    </span></p>
  </div>
</div>


<!-- Above Footer -->

<div class="container-fluid above-footer py-3">
  <div class="container">
  <div class="row">
  <div class="col col-md-4 col-sm-4">
    <div class="payment-secure">
      <div class="row">
        <div class="col col-md-2">
          <i class="fa fa-shield" aria-hidden="true"></i>
        </div>
        <div class="col col-md-10 mt-3">
          <p class="text-center d-inline">100% Secure Shopping. <br>
            <span class="text-center">Payments are safe and secure</span></p>
        </div>
      </div>
  </div>
  </div>
  <div class="col col-md-4 col-sm-4">
    <div class="payment-secure">
      <div class="row">
        <div class="col col-md-2">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="col col-md-10 mt-3">
          <p class="text-center d-inline">24x7 Support <br>
            <span class="text-center">Hassele free support system</span></p>
        </div>
      </div>
  </div>
  </div>
  <div class="col col-md-4 col-sm-4">
    <div class="payment-secure">
      <div class="row">
        <div class="col col-md-2">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <div class="col col-md-10 mt-3">
          <p class="text-center d-inline">Quality Guaranteed <br>
            <span class="text-center">Ensuring 100% quality standard</span></p>
        </div>
      </div>
  </div>
  </div>
  </div>
</div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col col-md-3 col-sm-6">
        <h5><u>Company</u></h5>
        <ul class="nav flex-column">
<li class="nav-item">
  <a class="nav-link" href="#">We DennyDots</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Privacy Policy</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Faq</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Contact us</a>
</li>
</ul>
      </div>
      <div class="col col-md-3 col-sm-6">
      <h5> <u>Delivery And Returns</u></h5>
      <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">Delivery and Setup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Return and Exchanges</a>
  </li>
</ul>
      </div>
      <div class="col col-md-3 col-sm-6">
        <h5><u>Customer Service</u></h5>
        <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">Customer Care</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Whatspp</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Emails Us</a>
  </li>
</ul>
      </div>
      <div class="col col-md-3 col-sm-6">
          <div class="container newsletter">
            <h6>Signup for news and offers</h6>
            <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Subscribe" aria-label="Subscribe" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-warning" type="button">Subscribe</button>
  </div>
</div>
      <p>You may safely unsubscribe anytime</p>
          </div>
      </div>

    </div>
  </div>
  <div class="container social d-flex justify-content-center">
    <i class="fa fa-facebook-square d-inline" aria-hidden="true"></i>
    <i class="fa fa-instagram d-inline" aria-hidden="true"></i>
  </div>
  <hr class="footer-hr">
  <div class="conatainer text-center copyright">
    <h5>Copyright &copy; 2018 All rights reserved | Powered by MedZia</h5>
  </div>
</footer>





</body>
