Privacy Policy<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/assets/main.css">
    <title>Hello, world!</title>
  </head>
  <body>

        <div class="section-title my-4">

                <div class="container">
                    <h1 class="text-center">Privacy Policy</h1>
                    <hr>
                </div>
            </div>

        <div class="section-main my-4">
            <div class="container">
                <h5 class="text-center">
                        We Respect Your Privacy
                </h5>

                <p class="text-justify">
                        At  <strong> DENNY DOTS</strong>, we believe your privacy to be important for us to protect.
                        so we respect your privacy and want you to understand how your information is used.
                </p>

                <h5 class="text-center">
                        Why does dennydots.com collect online visitor information?
                </h5>
                <p class="text-justify">
                        The information we receive from you helps us to fulfill your order accurately and quickly,
                         learn how to improve your shopping experience, as well as meet our commitment to privacy.
                          When you visit dennydots.com, you have the option of creating a free dennydots.com account
                           so you can place online orders, save your shopping cart items, gain access to special 
                           promotions, and view delivery details and lead times. Creating a <a href="#"> dennydots.com</a> account is
                            easy. 
                        We just need your name, email address, postal code, and a password of your choice.
                        <br>
                        <br>
                        Once you place your online order, we'll ask for some additional information to fulfill the order including your delivery address, billing address, phone number.
                </p>

                <h5 class="text-center">
                        Does dennydots.com ever share this information?
                </h5>

                <p class="text-justify">
                        We never share your personal information with anyone, except in connection with your order.
                        <a href="#">dennydots.com</a>  does not sell, rent, share, trade, or give away any of the 
                        information you provide except to financial institutions processing your payment or financing application and the retailers/shippers that produce and/or deliver your order. 
                        No third party will solicit you as a result of information within our control.
                        <br>
                        <br>
                        If you have additional questions about our Privacy Policy, please reach out to our Customer Service team at info@dennydots.com.
                </p>
                <h5 class="text-center">
                        What types of emails will I receive from dennydots.com? Can I unsubscribe from these emails?
                </h5>
                <p class="text-justify">
                        As a registered dennydots.com user, you may receive emails from us including newsletters and special offers. If you would no longer wish to receive these emails, you can opt out or unsubscribe at any time by clicking the "unsubscribe" link in the email, or by logging in to your Denny Dots account and selecting "Update your email preferences". Or, you can email us at info@dennydots.com.
                    <br>
                    <br>
                    In addition, when you place an order with dennydots.com, you'll receive email updates regarding the status of your order. These emails, which are critical to fulfilling your order, will not be affected by updating your email preferences.
                    </p>

                <h5 class="text-center">
                        Secure Shopping
                </h5>
                <p class="text-justify">
                        We make certain that we never share the information you've shared with us. We also make sure that your information is protected as you send it to us.
                        <br>
                        <br>
                        Our secure server software (SSL) is among the best technology available today. It encrypts (scrambles in code) all personal data you share with us, including your credit card and telephone numbers, name and address. dennydots.com is so confident in our systems that we ensure 100% safety in the transactions you make with us. 
                        
                </p>
            </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>