<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
    <link rel="stylesheet" href="/assets/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
        <div class="section-title my-4">

                <div class="container">
                    <h1 class="text-center">Returns and Exchanges</h1>
                    <hr>
                </div>
            </div>

        <div class="section-main my-4">
            <div class="container">
        
            <p class="text-justify">
                    At Dennydots.com, we’re committed to creating a better online shopping experience. If for some reason you aren’t completely satisfied with your purchase, contact us and we will do what we can to make it right. 
                <br>
                <br>
                Our delivery teams treat your order with care so it can arrive in the best condition possible, but if there is any visible damage on the merchandise or to your home during the delivery process, please notify our delivery team and make sure it is recorded in the delivery paperwork. Then, contact our Customer Care team within 48 hours of the delivery so we can try to repair or replace the damaged item as soon as possible. Since our Product is made only against orders placed, we are unable to extend any kind of returns. If you choose to cancel your order, please know that you forfeit the advance paid. Prior to signing for your delivery, please carefully inspect the products to ensure your satisfaction.

            </p>

            <h3 class="text-center">Cancellation </h3>
            <p class="text-justify">
                    Orders can be cancelled as long as they haven’t already been reserved onto our manufacturing floor. To cancel, please get in touch with us on our customer care number or write to us at info@dennydots.com from your registered email address within 48 hours. Items bought on discount during sale are not eligible for cancellation after delivery.
            </p>
        </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>