// Place all the styles related to the benches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* --------- Living-section --------- */



.title-border{
  width: 300px;
  border: 2px solid #ccc;
}

.product-section-cover{
  padding: 20px 10px;
}

.product-grid{
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 10px;
  transform: scale(1.0);
}

.product-grid:hover{
  background-color: #fff;
  border-radius: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 0.3s;
  transform: scale(1.02);
  transition: all 0.3s;
}

.product-grid .image{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s ease;
  background-color: rgba(67,68,68,0.6);
}

.product-grid .image:hover .overlay{
  opacity: 1;
}

.product-grid .image .overlay .product-details{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #fff;
  padding: 5px;
}

.product-grid .product-discription .product-price{
  padding: 10px;
}

.product-grid .product-discription .product-price .fa{
  margin-left: 60%;
  font-size: 20px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
}

.product-grid .product-discription .product-price .fa:hover{
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #CC0000;
  color: #CC0000;
}

/* --------- Living-section /// Ends --------- */



/* --------- Product View Showcase --------- */


.title-border{
  width: 300px;
  border: 2px solid #ccc;
}


.left-sidebar{
  position: sticky;
  top: 10px;
}

.left-sidebar .carousel img{
border-radius: 5px;
}


.product-img input[type="radio"]{
  display: none;
}

.product-img input[type="radio"] + label span img{
  display: inline-block;
  width: 85px;
  height: 85px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
}


.saving{
  line-height: 0px;
}

.pincode input{
 border: none;
background: #ccc;
outline: none;
padding: 7px;
}

.coupons-section .coupon-block {
  margin: 5px 8px;
  padding: 2px;
  border: 2px solid #ccc;
  border-style: dashed;
}

.vl{
  width: 0;
  height: inherit;
  border-right: 2px solid #ccc;
}


.button button.btn{
  margin-right: 5px;
  background-color: #FF8C00;
}



button .fa{
  font-size: 24px;
}

button p{
  margin-left: 10px;
}

.brand, .Dimensions, .colour, .Warranty, .Room, .Height, .width,
.Depth{
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 18px;
  font-weight: lighter;
  line-height: 20px;
}

.Overview p{
  font-size: 18px;
  font-weight: lighter;
  line-height: 20px;
}

.card{
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

.card .btn{
  background-color: #ccc;
  color: #000;
}

/* Related */

.product-section-cover{
  padding: 20px 10px;
}

.product-grid{
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 10px;
  transform: scale(1.0);
}

.product-grid:hover{
  background-color: #fff;
  border-radius: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 0.3s;
  transform: scale(1.02);
  transition: all 0.3s;
}

.product-grid .image{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s ease;
  background-color: rgba(67,68,68,0.6);
}

.product-grid .image:hover .overlay{
  opacity: 1;
}

.product-grid .image .overlay .product-details{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #fff;
  padding: 5px;
}

.product-grid .product-discription .product-price{
  padding: 10px;
}

.product-grid .product-discription .product-price .fa{
  margin-left: 60%;
  font-size: 20px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
}

.product-grid .product-discription .product-price .fa:hover{
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #CC0000;
  color: #CC0000;
}



.modal .shesham{
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
}



/* --------- Product View Showcase /// Ends --------- */
