<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/footer.scss">

</head>
<footer>
  <div class="container">
    <div class="row">
      <div class="col col-md-3 col-sm-6">
        <h5><u>Company</u></h5>
        <ul class="nav flex-column">
<li class="nav-item">
  <a class="nav-link" href="/welcome/about">We DennyDots</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/welcome/privacy">Privacy Policy</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/welcome/faq">Faq</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/welocme/contact">Contact us</a>
</li>
</ul>
      </div>
      <div class="col col-md-3 col-sm-6">
      <h5> <u>Delivery And Returns</u></h5>
      <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/welcome/delivery">Delivery and Setup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/welcome/return">Return and Exchanges</a>
  </li>
</ul>
      </div>
      <div class="col col-md-3 col-sm-6">
        <h5><u>Customer Service</u></h5>
        <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/welcome/contact">Customer Care</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/welcome/contact">Whatspp</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="mailto:info@dennydots.com.com">Email Us</a>
  </li>
</ul>
      </div>
      <div class="col col-md-3 col-sm-6">
          <div class="container newsletter">
            <h6>Signup for news and offers</h6>
            <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Subscribe" aria-label="Subscribe" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn " type="button">Subscribe</button>
  </div>
</div>
      <p>You may safely unsubscribe anytime</p>
          </div>
      </div>

    </div>
  </div>
  <div class="container social d-flex justify-content-center">
    <i class="fa fa-facebook-square d-inline" aria-hidden="true"></i>
    <i class="fa fa-instagram d-inline" aria-hidden="true"></i>
  </div>
  <hr class="footer-hr">
  <div class="conatainer text-center copyright">
    <h5>Copyright &copy; 2018 All rights reserved to ST ENTERPRISE PVT LTD | Powered by MedZia</h5>
  </div>
</footer>
