<head>
  <link rel="stylesheet" href="/assets/style.scss">
</head>

<body>

  <!-- Header -->

  <header>
    <!-- Container For Navbar -->
<div class="container-fluid bg-dark mt-4">
  <div class="container">
    <!--Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--Nav Link 1 -->

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="link-custom">LIVING</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="container large-box  text-uppercase">
          <div class="row">
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center">All About Living</h3>
              <div class="row">
                <div class="col-md-4">
                  <h4>Seating<img class="img-icons"src="https://png.icons8.com/ios/50/000000/living-room.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/welcome/sofas" class="nav-link">Sofas</a></li>
                    <li class="nav-item"><a href="/chairs" class="nav-link">Chairs</a></li>
                    <li class="nav-item"><a href="/benches" class="nav-link">Benches</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Storage<img class="img-icons" src="https://png.icons8.com/ios/50/000000/book-shelf.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/tvcabinets" class="nav-link">Tv Cabinats</a></li>
                    <li class="nav-item"><a href="/bookcabinets" class="nav-link">Book Cabinats</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Tables<img class="img-icons" src="https://png.icons8.com/ios/50/000000/table.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/centerts" class="nav-link">Center Tables</a></li>
                    <li class="nav-item"><a href="/sidets" class="nav-link">side tables</a></li>
                    <li class="nav-item"><a href="/spotts" class="nav-link">spot tables</a></li>
                    <li class="nav-item"><a href="writingts" class="nav-link">writing tables</a></li>
                  </ul>
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="container">
              <div class="row bg-dark justify-content-center">
                <a href="#">Custom</a>
              </div>
              </div>
            </div>
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center img-box">All about Living</h3>
              <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        </div>
  </li>


  <!--Nav Link 2 -->

  <li class="nav-item">

    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="link-custom">SOFAS</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="container large-box  text-uppercase">
          <div class="row">
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center">All About sofas</h3>
              <div class="row">
                <div class="col-md-6">
                  <h4>fabricated sofa sets<img class="img-icons" src="https://png.icons8.com/color/50/000000/sofa.png"></h4>
                    <ul class="nav flex-column navbar-nav">
                    <li class="nav-item"><a href="/oneseatersofas" class="nav-link">1 seater sofa</a></li>
                    <li class="nav-item"><a href="/twoseatersofas" class="nav-link">2 seater sofa</a></li>
                    <li class="nav-item"><a href="/threeseatersofas" class="nav-link">3 seater sofa</a></li>
                    <li class="nav-item"><a href="/lshapedcornersofas" class="nav-link">l shaped corner sofa</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4>wodden sofa sets<img class="img-icons"src="https://png.icons8.com/color/50/000000/city-bench.png"></h4>
                </div>

              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="container">
              <div class="row bg-dark justify-content-center">
                <a href="#">Custom</a>
              </div>
              </div>
            </div>
            <div class="col col-md-6">
              <h3 class="d-flex justify-content-center img-box">All About sofas</h3>
              <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        </div>
  </li>


        <!--Nav Link 3 -->

        <li class="nav-item">

          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="link-custom">DINING</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="container large-box  text-uppercase">
                <div class="row">
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center">All about dining</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4>tables<img class="img-icons" src="https://png.icons8.com/ios/50/000000/table.png"></h4>
                          <ul class="nav flex-column navbar-nav">
                          <li class="nav-item"><a href="/diningts" class="nav-link">dining tables <tables></tables></a></li>

                        </ul>
                      </div>
                      <div class="col-md-4">
                        <h4>seating<img class="img-icons"src="https://png.icons8.com/ios/50/000000/living-room.png"></h4>
                          <ul class="nav flex-column navbar-nav">
                          <li class="nav-item"><a href="/diningchairs" class="nav-link">chairs</a></li>
                          <li class="nav-item"><a href="/diningbenches" class="nav-link">Benches</a></li>

                        </ul>
                      </div>
                      <div class="col-md-4">
                        <h4>Storage and display<img class="img-icons" src="https://png.icons8.com/ios/50/000000/book-shelf.png"></h4>
                          <ul class="nav flex-column navbar-nav">
                          <li class="nav-item"><a href="/kitchencabinets" class="nav-link">Cabinats</a></li>

                        </ul>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="container">
                    <div class="row bg-dark justify-content-center">
                      <a href="#">Custom</a>
                    </div>
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center img-box">All about dining</h3>
                    <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              </div>
        </li>


      <!--Nav Link 4 -->

      <li class="nav-item">

        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="link-custom">BEDROOM</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="container large-box  text-uppercase">
              <div class="row">
                <div class="col col-md-6">
                  <h3 class="d-flex justify-content-center">All about bedroom</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <h4>beds<img class="img-icons" src="https://png.icons8.com/ios/50/000000/bed.png"></h4>
                        <ul class="nav flex-column navbar-nav">
                        <li class="nav-item"><a href="/queensizebs" class="nav-link">Queen size beds</a></li>
                        <li class="nav-item"><a href="/kingsizebs" class="nav-link">king size beds</a></li>
                        <li class="nav-item"><a href="/singlebs" class="nav-link">single beds</a></li>
                        <li class="nav-item"><a href="/hydraulicstoragebs" class="nav-link">hydrolic storage beds</a></li>
                        <li class="nav-item"><a href="/upholsteredbs" class="nav-link">upholstered beds</a></li>
                        <li class="nav-item"><a href="/sofacumbs" class="nav-link">sofa cum beds</a></li>
                        <li class="nav-item"><a href="/doublebs" class="nav-link">double beds</a></li>
                        <li class="nav-item"><a href="/divanbs" class="nav-link">divan bed</a></li>
                        <li class="nav-item"><a href="/kidsbs" class="nav-link">kids beds</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <h4>bedroom storage<img class="img-icons" src="https://png.icons8.com/ios/50/000000/closet.png"></h4>
                        <ul class="nav flex-column navbar-nav">
                        <li class="nav-item"><a href="/besidets" class="nav-link">beside table</a></li>
                        <li class="nav-item"><a href="/wardrobes" class="nav-link">wardrobes</a></li>
                        <li class="nav-item"><a href="/dressingts" class="nav-link">dressing table</a></li>
                        <li class="nav-item"><a href="/kidstudyts" class="nav-link">kids study table</a></li>
                        <li class="nav-item"><a href="/kidswardrobs" class="nav-link">kids wardrobes</a></li>
                      </ul>
                    </div>

                  </div>
                  <br>
                  <br>

                  <div class="container">
                  <div class="row bg-dark justify-content-center">
                    <a href="#">Custom</a>
                  </div>
                  </div>
                </div>
                <div class="col col-md-6">
                  <h3 class="d-flex justify-content-center img-box">All about bedroom</h3>
                  <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            </div>
      </li>


        <!--Nav Link 5 -->

        <li class="nav-item">

          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="link-custom">Kids</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="container large-box  text-uppercase">
                <div class="row">
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center">All about kids</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4>kids bed<img class="img-icons"src="https://png.icons8.com/ios/50/000000/bed.png"></h4>
                      </div>
                      <div class="col-md-4">
                        <h4>kids study <br>table<img class="img-icons"src="https://png.icons8.com/ios/50/000000/table.png"></h4>
                      </div>
                      <div class="col-md-4">
                        <h4>kids <br>wardrobes<img class="img-icons"src="https://png.icons8.com/ios/50/000000/wardrobe.png"></h4>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="container">
                    <div class="row bg-dark justify-content-center">
                      <a href="#">Custom</a>
                    </div>
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <h3 class="d-flex justify-content-center img-box">All Living</h3>
                    <img src="/assets/menu-img.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              </div>
        </li>
      </div>



      </nav>
  </div>
</div>
</header>


</body>
